

body {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

.layout-content {
  width: 100%;
  margin: 0 auto;
}

section {
  background: #f2f4f7 !important;
  min-height: 84.5vh;

  .main-container {
    padding: 1.8rem;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
  }
}

footer {
  // background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

.p-menubar {
  padding: 0.5rem;
  background: #ffffff;
  color: #333333;
  border-radius: 0 !important;

  .p-menubar-start {
    border-right: 1px solid #c8c8c8;
    padding-right: 1rem;
  }

  .p-menubar-end {
    .menubar-right {
      .p-submenu-list {
        margin-left: -6.3rem !important;
      }
    }
  }
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
  border: none;
  margin-bottom: 30px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;

  .card-header {
    background-color: transparent;
    border-bottom: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    .p-toolbar {
      padding: 0.5rem !important;
    }
  }

  .card-body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }

  .p-datatable-thead tr th {
    background-color: #0a3d62 !important;
    border: solid 1px #e4dede !important;
    padding: 0.5rem !important;
    color: white !important;
  }

  .p-datatable-thead-child tr th {
    background-color: #a1430c !important;
    border: solid 1px #e4dede !important;
    padding: 0.5rem !important;
    color: white !important;
  }

  .p-datatable-tbody tr td {
    border: solid 1px #e4dede !important;
    padding: 0.5rem !important;
  }

  .p-datepicker table td {
    padding: 0 !important;
  }

  .item-required {
    color: red;
  }

  .errorClass {
    color: #bf1650;
  }

  .error {
    border: 1px solid red;
  }

  .errorClass::before {
    display: inline;
    content: "⚠ ";
  }
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}


.page {
  font-family: Montserrat, Arial, sans-serif;
  .content {
  }
  .footer {
      height: 370px;
      // background-color: #000;
      background-color: #404552;;
      display: flex;
      color: rgb(241, 234, 234);
      padding-top: 10px;
      .left {
          float: left;
          width: 20%;
      }
      .center {
          width: 60%;
          display: flex;
          flex-direction: column;
          padding-top: 50px;

          .top {
              width: 100%;
              display: flex;
              flex-direction: row;
              padding-bottom: 50px;
              border-bottom: 1px solid #8b88884d;
              .textFirst {
                  width: 25%;
                  margin: 0 10px auto;
                  border-right: 1px solid #8b88884d;
              }
              .textTwo {
                  width: 25%;
                  margin: 0 10px auto;
                  border-right: 1px solid #8b88884d;
              }
              .textThree {
                  width: 25%;
                  margin: 0 10px auto;
                  border-right: 1px solid #8b88884d;
              }
              .textFour {
                  width: 25%;
                  margin: 0 10px auto;
              }
          }
          .bottom {
              margin-top: 50px;
              display: flex;
              justify-content: space-between;
          }
          .icon-footer{
            width: fit-content;
          }
          .icon-footer > span{
            margin-left: 12px;
          }
      }
      .right {
          float: left;
          width: 20%;
      }
  }
}



