.DoanhNghiep {
  .widthInput {
    width: 100%;
  }
  .p-tabview-nav {
    justify-content: center;
  }
  .infoUser {
    margin: 0 20% 0 20%;
    height: 80%;
  }
  .inputCus {
    outline-style: none;
    border-radius: 5px;
    height: 35px;
    
  }
  .dropdowCus{
    outline-style: none;
    border-radius: 5px;
    height: 35px;
  }

  .ThongTinNguoiNopThue {
 
  }
  .ChungThuSoTab {
    .chungthusotab{
      display: inline;
    }
  }
  .TaiKhoanNganHang {
  }
}
