.DoanhNghiep {
  .widthInput {
    width: 100%;
  }
  .p-tabview-nav {
    justify-content: center;
  }
  .infoUser {
    margin: 0 20% 0 20%;
    height: 80%;
    
  }
.center-button {
  display: flex;
  justify-content: center;
}
  .inputCus {
    outline-style: none;
    border-radius: 5px;
    height: 35px;
    opacity: 100%;
  }
  .dropdowCus {
    outline-style: none;
    border-radius: 5px;
    height: 35px;
  }
  .buttonright{
    float: right;
    a{
      text-decoration: none;
    }
  }

  .ChungThuSoTab {
    .chungthusotab {
      display: inline;
    }
  }
  .TaiKhoanNganHang {
    .dropdowCusNH {
      outline-style: none;
      width: 100%;
    }
  }
}
.ThemChungThuSoChoUser {
  .centers{
    margin: 2% 20% 0 20%;
    height: 80%;
  }
  .buttonCenter{
    display: flex;
    justify-content: center;
  }
  a{
    text-decoration: none;
  }
}
.TaiKhoanNganHangChoUser {
  .centers{
    margin: 2% 20% 20px 20%;
    height: 80%;
  }
  .dropdowCusNH {
    outline-style: none;
    width: 100%;
  }
  .buttonCenter{
    display: flex;
    justify-content: center;
  }
  a{
    text-decoration: none;
  }
  .buttom{
    margin-bottom: 4%;
  }
}
